<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-app="FBlurApp">
<head>
    <title>Getting Started Extension's Popup</title>
    <link rel="stylesheet" type="text/css" href="CSS/popup.css">

    <script src="js/angular.js"></script>
    <script src="js/popup.js"></script>
</head>


<body>
    <div id="popbox">
        
        <div ng-controller="PopupController as FaceList">
            <button ng-click="FaceList.archive()" ng-disabled='FaceList.selected()==0'>
                <span ng-show="FaceList.selected()>0">Delete {{FaceList.selected()}} Selected</span>
                <span ng-hide="FaceList.selected()>0">Select to Delete</span>
            </button>
            <ul class="unstyled">
                <li ng-repeat="face in FaceList.faces | orderBy:'text' track by $index">
                    <label><input type="checkbox" ng-model="face.done">
                    <span class="done-{{face.done}}">{{face.name}}</span></label>
                </li>
            </ul>
            <button ng-click="FaceList.addFace()" ng-show="FaceList.formShow && !FaceList.stored">
                Blur {{FaceList.name}}
            </button>
            <button ng-click="FaceList.removeFace()" ng-show="FaceList.formShow && FaceList.stored">
                Unblur {{FaceList.name}}
            </button>
        </div>

    </div>

</body>
</html>

