<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-app="FBlurApp">
<head>
    <title>Getting Started Extension's Popup</title>
    <style>
        body {
            font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
            font-size: 100%;
        }

        #popbox {
            /* avoid an excessively wide status text */
            white-space: normal;
            text-overflow: ellipsis;
            overflow: auto;
            min-width: 260px;
            max-width:300;
            max-height: 400px;
        }
    </style>


    <script src="js/angular.js"></script>
    <script src="js/popup.js"></script>
</head>


<body>
    <div id="popbox">
        
        <div ng-controller="PopupController as todoList">
            <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
            [ <a href="" ng-click="todoList.archive()">archive</a> ]
            <ul class="unstyled">
                <li ng-repeat="todo in todoList.todos | orderBy:'text' track by $index">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{todo.done}}">{{todo.name}}</span>
                </li>
            </ul>
            <button ng-click="todoList.addTodo()" ng-show="todoList.formShow && !todoList.stored">
                Blur {{todoList.name}}
            </button>
            <button ng-click="todoList.addTodo()" ng-show="todoList.formShow && todoList.stored">
                Unblur {{todoList.name}}
            </button>
        </div>

    </div>

</body>
</html>

