<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-app="FBlurApp">
<head>
    <title>Getting Started Extension's Popup</title>
    <link rel="stylesheet" type="text/css" href="CSS/popup.css">
    <link rel="stylesheet" type="text/css" href="CSS/bootstrap.css">

    <script src="js/angular.js"></script>
    <script src="js/popup.js"></script>
</head>


<body>
    <div id="popbox" class="container">
        <header>
            <img src="images/icon48.png" class="center-block logo">
        </header>
        
        <div class="row">
            <div ng-controller="PopupController as FaceList" class="col-xs-12">
                <div class="btn-div">
                    <button ng-click="FaceList.archive()"
                            ng-disabled='FaceList.selected()==0'
                            ng-hide="FaceList.faces.length==0"
                            class="btn btn-block btn-delete">
                        <span ng-show="FaceList.selected()>0">Delete {{FaceList.selected()}} Selected</span>
                        <span ng-hide="FaceList.selected()>0">Select to Delete</span>
                    </button>
                </div>

                <ul class="list-unstyled">
                    <li ng-show="FaceList.faces.length==0">
                        <strong>Go to someones profile page and press the button below to add them to this list to blur.</strong>
                    </li>
                    <li ng-repeat="face in FaceList.faces | orderBy:'text' track by $index"
                        class="{{face.done ? 'list-checked' : 'list-unchecked'}} text-center">
                        <div class="row profile-row">
                            <label class="col-xs-8 text-left">
                                <input type="checkbox" ng-model="face.done" ng-hide="true">
                                <i class='glyphicon glyphicon-unchecked' ng-hide="face.done"></i>
                                <i class='glyphicon glyphicon-check' ng-show="face.done"></i>
                                <span>{{face.name}}</span>
                            </label>
                            <label class='col-xs-2'>
                                <input type="checkbox" ng-model="face.blur" ng-hide="true" ng-click="FaceList.save()"/>
                                <i class='glyphicon glyphicon-eye-open' ng-hide="face.blur"></i>
                                <i class='glyphicon glyphicon-eye-close' ng-show="face.blur"></i>
                            </label>
                            <a class="glyphicon glyphicon-user col-xs-2" ng-click="FaceList.openLink(face.profile)"></a>
                        </div>
                        
                    </li>
                </ul>

                <div class="btn-div">
                    <button ng-show="!FaceList.formShow && FaceList.faces.length==0"
                            class="btn btn-primary btn-block">
                        Blur
                    </button>
                    <button ng-click="FaceList.addFace()"
                            ng-show="FaceList.formShow && !FaceList.stored"
                            class="btn btn-primary btn-block">
                        Blur {{FaceList.name}}
                    </button>
                    <button ng-click="FaceList.removeFace()"
                            ng-show="FaceList.formShow && FaceList.stored"
                            class="btn btn-warning btn-block">
                        Unblur {{FaceList.name}}
                    </button>
                </div>
            </div>
        </div>

    </div>

</body>
</html>

